.banner-img-1 {
  background-image: url(/image/carousel/2.jpg);
  height: 100vh;
}
.banner-img-2 {
  background-image: url(/image/carousel/2.jpg);
  height: 100vh;
}
.banner-img-3 {
  background-image: url(/image/carousel/2.jpg);
  height: 100vh;
}
